
@model IEnumerable<DesigenPattern.CQRS.CQRSPattern.Results.GetProductQueryResult>
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Product name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Delete</th>
        <th>Update</th>
        <th>List product</th>
    </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.ProductName</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td><a href="/Default/DeleteProduct/@item.ID" class="btn btn-danger">Delete Product</a></td>
                <td><a href="/Default/UpdateProduct/@item.ID" class="btn btn-outline-info">Update product</a></td>
                <td><a href="/Default/GetById/@item.ID" class="btn btn-outline-info">List</a></td>
            </tr>
        }
    </table>
    <a href="/Default/AddProduct" class="btn btn-success">Add product</a>
</div>