
@{
    Layout = null;
}

<div class="container">
    <hr />
    <h3>Plan adı : @ViewBag.V1 </h3>
    <h3>Plan fiyatı :@ViewBag.V3 </h3>
    <h3>Plan içeriği :@ViewBag.V4 </h3>
    <h3>Plan ekren çözünürlüğü :@ViewBag.V5 </h3>
    <h3>Kişi sayısı :@ViewBag.V2 </h3>
</div>